# vi /etc/systemd/system/testchk.service

// /etc/systemd/system/testchk.service 내용
[Unit]
Description=Systemd Test Daemon

[Service]
Type=simple
ExecStart=/home/jiundev/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
