@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

main {
  margin-top: 50px;
  border: 1px solid #64b5f6;
  border-radius: 20px;
  padding: 15px;
}
.datebutton {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 230px;
  height: 63px;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
  border-radius: 7px;
  border: none;
  font-size: 20px;
}
article {
  padding: 1%;
  border: 1px solid #64b5f6;
  border-radius: 20px;
  flex-direction: column;
  margin: 30px;
  width: 502px;
  display: inline-flex;
  /* background-color: aqua; */
}
section {
  border-bottom: 1px solid #989595;
}

.ulList {
  height: 50%;
  padding-left: 0;
  overflow: hidden;
  overflow-y: scroll;
}
.liList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  list-style: none;
  border-bottom: 1px solid #989595;
  align-items: center;
  scroll-behavior:smooth;
  font-size: 20px;
}

.liList:hover {
  cursor: pointer;
  background-color: #e3f2fd;
}
  
.nextbutton {  
  display: flex;
  margin-right: 40px;
  color: #1976D2;
  justify-content: end;
}
.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.airplaneRoot {
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
}
.directionCont {
  cursor: pointer;
}

.loader {
  display: flex;
  width: 363px;
  height: 77px;
  position: absolute;
  left: 40%;
  top: 43%;
  align-items: center;
  font-size: 50px;
}
