* {
    font-family: 'Black Han Sans', sans-serif;
}


h2  {
    margin-bottom: 0;
    width: 100%;
    font-size: 60px;
    text-align: end;
}
.logoRe {
  padding: 0 0 10% 0;
}
.title {
  font-size: 30px;
}

.content {
    display: flex;
}
.mainRoot {
    font-family: 'Black Han Sans', sans-serif;
  display: flex;
  flex-direction:column;
  justify-content:center;
  width: 100%;
  height: 100%;
  
}

.main{
    background-color: #BBDEFB;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: baseline;
    margin: 10px;
    width: 60%;
    height: 400px;
    font-size: 34px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll
}
.itemList {
  font-size: 22px;
}


.airLi {
  width: 100%;
  display: flex;
  align-items: center;
}

.airLi > div{
  width: 110px;
  font-size: 20px;
  padding: 0 2% 0 0;
}

.titleCafe {
  padding: 5% 0 0;
}

.modify {
    font-size: 18px;
    color: white;
    background-color: #1E88E5;
    border: none;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sub {
    width: 39%;
    font-size: 70px;
    background-color: #BBDEFB;
    margin: 10px;
    font-size: 70px;
    padding-left: 30px;
    padding-right: 50px;
}

.subcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    overflow-y: scroll;
    padding: 1%;
    height: 100%;
    width: 100%;

}

li {
  font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.subcontent li {
    margin: 40px;
    margin-top: 60px;
}

.main::-webkit-scrollbar {
    width: 8px;
    height : 8px;
}

.subinput {
    width: 70%;
    font-size: 50px;
}

.sum {
    display: flex;
    justify-content: space-between;
}

.subadd {
    cursor: pointer;
    align-self: flex-end;
    font-size: 30px;
    color: white;
    background-color: #1E88E5;
    border: none;
    width: 150px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sumbutton {
  cursor: pointer;
    font-size: 30px;
    color: white;
    background-color: #1E88E5;
    border: none;
    width: 150px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.buttons {
    display: flex;
    align-items: center;
}

ol p {
    font-size: 20px;
}
